<head>

	<title>{{ .Title }} | Barmer Styleguide</title>
	<link rel="stylesheet" href="/css/app.css" />

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<!-- <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png"> -->
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<!-- <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400"> -->
	<meta name="theme-color" content="#fff">

	<style id="mystyle">
		.mybox1,
		.mybox {
			display: block;
			width: 20px;
			height: 20px;
			background-color: rgb(204, 204, 204);
		}
	</style>
</head>
